@font-face {
  font-family: 'emoticons';
  src: url(asset_path('emoticon_fontify/emoticons.eot', font));
  src: url(asset_path('emoticon_fontify/emoticons.eot?#iefix', font)) format('embedded-opentype'), url(asset_path('emoticon_fontify/emoticons.woff', font)) format('woff'), url(asset_path('emoticon_fontify/emoticons.ttf', font)) format('truetype'), url(asset_path('emoticon_fontify/emoticons.svg#emoticons', font)) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  display: inline-block;
  width: 1em;
  margin: 0 0.2em;
  font-size: 1em;
  visibility: hidden;
  position: relative;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'emoticons';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  visibility: visible;
  speak: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
   text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */